<div class="flex flex-col justify-between h-full">
  <div class="flex flex-col space-y-4">
    <div
      class="flex items-center justify-center bg-gray-300 rounded-full w-14 h-14"
    >
      <fa-icon [icon]="faInbox" class="text-2xl text-gray-700"></fa-icon>
    </div>
    <div
      class="flex items-center justify-center bg-gray-100 rounded-full w-14 h-14"
    >
      <fa-icon [icon]="faTasks" class="text-2xl text-gray-700"></fa-icon>
    </div>
    <div
      class="flex items-center justify-center bg-gray-100 rounded-full w-14 h-14"
    >
      <fa-icon [icon]="faStar" class="text-2xl text-gray-700"></fa-icon>
    </div>
    <div
      class="flex items-center justify-center bg-gray-100 rounded-full w-14 h-14"
    >
      <fa-icon [icon]="faArchive" class="text-2xl text-gray-700"></fa-icon>
    </div>
  </div>
  <div class="flex"></div>
  <div class="flex flex-col space-y-4">
    <div
      class="flex items-center justify-center bg-gray-100 rounded-full w-14 h-14"
    >
      <fa-icon [icon]="faArrowLeft" class="text-2xl text-gray-700"></fa-icon>
    </div>
  </div>
</div>
